body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgray;
}

a {
  text-decoration: none;
  color: black;
}

#new {
  border: 2px solid green;
}

a:hover {
  color: darkgray;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  color: red;
  display: inline-block;
}

li {
  list-style: none;
  width: 100%;
}

.delete-skill button {
  color: red;
}
